<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/static/css/stylereset.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <style type="text/css">
.editHolder {
    width:400px;
}
.label {
    width:400px;
    clear:both;
}
.options {
    float:right;
}
    </style>
    <script>
var buttonMenu = "<button id='refresh'>Refresh</button><button id='sortByName'>Sort by Name</button><button id='sortById'>Sort by ID</button><input type='text'></input><button id='new'>New Item</button><ul></ul>";
var noIdItem = '<div class="label"><%= name %><div class="options"><button class="delete">x</button></div></div>';
var editTemp = '<div class="editHolder"><input class="labelInput" value="<%= name %>"></input><div class="options"><button class="delete">x</button></div></div>';

var data = []

$(function() {

    var Item = Backbone.Model.extend({
        defaults: {'name': "Unknown"},
        urlRoot: '/api/busstops/',

    });

    var List = Backbone.Collection.extend({
        model: Item,
        url: '/api/busstops/',
        parse: function(data) {
            return data.objects;
        },
        comparator: function(item) {
            return item.get('id');
        }
    });

    var ItemView = Backbone.View.extend({
        tagName: 'li',
        className: 'green',
        events: {
            'click button.delete': 'remove',
            'dblclick div.label': "editLabel",
        },
        initialize: function() {
            _.bindAll(this, 'render', 'unrender', 'remove', 'editLabel', 'saveLabel');
            this.model.bind('change', this.render);
            this.model.bind('remove', this.unrender);
        },
        render: function() {
            $(this.el).html(_.template(noIdItem, this.model.toJSON()));
            return this;
        },
        editLabel: function() {
            //change the template to editing mode
            $(this.el).html(_.template(editTemp, this.model.toJSON()))
            $('input.labelInput', this.el).change(this.saveLabel);
            return this;
        },
        saveLabel: function() {
            //TODO confirm new text, delete if empty
            var newText = $('input.labelInput', this.el).val();
            this.model.set({'name': newText});
            this.model.save();
        },
        unrender: function() {
            $(this.el).remove();
        },
        remove: function() {
            //this.model.destroy();
            console.log("preparing to destroy:", this.model);
            this.model.destroy({error: function(model, response) {
                    console.log("DELETE error:", response);
                },
                success: function(model, response) {
                    //apparently, reports success on 301 ?!?!
                    console.log("DELETE success:", model, response);
                }
            });
        }
    });
    
    var iList = (new List()).add(data);
    
    var AppView = Backbone.View.extend({

        el: $('body'),
        events: {
            'click button#refresh': "refreshList",
            'click button#new': "newItem",
            'click button#sortByName': "sortByName",
            'click button#sortById': "sortById",
        },
        initialize: function() {
            _.bindAll(this, 'render', 'addItem', 'appendItem', 'sortByName', 'renderList', 'sortById', 'newItem', 'refreshList');
            this.collection = iList.bind('add', this.appendItem);
            this.sortOrder = -1;
            this.render();
            this.collection = iList.bind('reset', this.renderList);
            this.collection.fetch(); //fires 'reset'
            //this.collection.fetch({add: true}); //otherwise list will 'reset'
            //this.collection.fetch({add: true, data: {offset: 50}}); //otherwise list will 'reset'
            //this.collection.sort(); //should fire 'reset'
            
        },
        render: function() {
            $(this.el).append(_.template(buttonMenu, {}));
            this.renderList();
        },
        renderList: function() {
            $('ul', this.el).empty();
            // _.each?
            for (var i = 0; i < this.collection.models.length; i++) {
                this.appendItem(this.collection.models[i]);
            }
        },
        addItem: function() {
            this.collection.add(new Item({'name': "new bus stop"}));
        },
        appendItem: function(item) {
            var itemView = new ItemView({
                model: item
            });
            $('ul', this.el).append(itemView.render().el);
        },
        sortByName: function() {
            this.sortOrder = -this.sortOrder;
            this.collection.comparator = buildNameComparator(this.sortOrder);
            this.collection.sort();
        },
        sortById: function() {
            this.sortOrder = -this.sortOrder;
            this.collection.comparator = buildIdComparator(this.sortOrder);
            this.collection.sort();
        },
        newItem: function() {
            var newText = $('input', this.el).val();
            if (newText) {
                //TODO not empty?
                var randItem = new Item({'name': newText});
                randItem.save({}, {success: buildSuccessReponse(this.collection)});
                var newText = $('input', this.el).val("");
            }
        },
        refreshList: function() {
            this.collection.fetch(); //fires 'reset'
        }
    });
    
    function buildIdComparator(sortOrder) {
        return function(country) {
            return sortOrder * country.get('id');
        }
    }
    function buildNameComparator(sortOrder) {
        return function(item) {
            return _.map(item.get("name").toLowerCase().split(""), function(letter) { 
                return String.fromCharCode(sortOrder * (letter.charCodeAt(0)));
            });;
        }
    }
    function buildSuccessReponse(collection) {
        return function(model, response) {
            collection.add(model);
            collection.sort();
        }
    }
    var app = new AppView();
});
    </script>
</head>

<body>

    <div id="container">
        <div id="main">
        </div>
    </div>

</body>
</html>
