{% load url from future %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>City-Aware Services</title>
<!--    <link rel="shortcut icon" href="/static/images/favicon.ico">-->
<!--    <link rel="stylesheet" href="/static/css/style.css">-->
<!--    <script type="text/javascript" src="/static/js/jquery.js"></script>-->
    {% block headers %}{% endblock %}
</head>
<body>
    <div id="frame">
        <div id="main">
            {% if items %}
            <ul>
            {% for item in items %}
                <li>{{item.name}}, {{item.venue}}</li>
            {% endfor %}
            </ul>
            {% else %}
            <p>There are no items</p>
            {% endif %}
            
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
