{% extends "foundation.html" %}
{% load url from future %}
{% block headers %}
    <style type="text/css">
.editHolder {
    width:700px;
}
.label {
    width:700px;
    clear:both;
}
.options {
    float:right;
}
.inputBar {
    
}
    </style>
    <script>
var inputMenu = "<div id='barCell'><span class='inputBar'><label>Name:<input id='newName' type='text'></input></label><label>Latitude:<input id='newLat' type='number' step=0.00001></input></label><label>Longitude:<input id='newLong' type='number' step=0.00001></input></label><button id='add'>Add</button></span></div>";
var sortMenu = "<button id='sortByName'>Sort by Name</button><button id='sortById'>Sort by ID</button>";
var noIdItem = '<div class="label"><%= name %> (<%= latitude %>,<%= longitude %>)</div>';
var editTemp = "<div class='editHolder'><input class='editName' value='<%- name %>'></input>(<input class='editLat' type='number' step=0.00001 value=<%- latitude %>>,<input class='editLong' type='number' step=0.00001 value=<%- longitude %>>)<div class='options'><button class='save'>save</button><button class='delete'>delete</button></div></div>";

var data = []

$(function() {

    var Item = Backbone.Model.extend({
        defaults: {'name': "Unknown"},
        urlRoot: '/api/venues/',

    });

    var List = Backbone.Collection.extend({
        model: Item,
        url: '/api/venues/',
        parse: function(data) {
            return data.objects;
        },
        comparator: function(item) {
            return item.get('id');
        }
    });

    var ItemView = Backbone.View.extend({
        tagName: 'li',
        events: {
            'click button.delete': "remove",
            'click button.save': "saveLabel",
            'dblclick div.label': "editLabel",
        },
        initialize: function() {
            _.bindAll(this, 'render', 'unrender', 'remove', 'editLabel', 'saveLabel');
            this.model.bind('change', this.render);
            this.model.bind('remove', this.unrender);
        },
        render: function() {
            $(this.el).html(_.template(noIdItem, this.model.toJSON()));
            return this;
        },
        editLabel: function() {
            //change the template to editing mode
            $(this.el).html(_.template(editTemp, this.model.toJSON()))
            //TODO should only save on change
        },
        saveLabel: function() {
            //TODO confirm new text, delete if empty
            var newName = $('.editName', this.el).val();
            var newLat = $('.editLat', this.el).val();
            var newLong = $('.editLong', this.el).val();
            console.log("attempting save", newName, newLat, newLong);
            if (newName && newLat && newLong) {
                //TODO not empty?
                this.model.set({'name': newName, 'latitude': newLat, 'longitude': newLong});
                this.model.save();
                $(this.el).html(_.template(noIdItem, this.model.toJSON()));
            }
        },
        unrender: function() {
            $(this.el).remove();
        },
        remove: function() {
            //this.model.destroy();
            //TODO no need for custom callbacks?
            console.log("preparing to destroy:", this.model);
            this.model.destroy({error: function(model, response) {
                    console.log("DELETE error:", response);
                },
                success: function(model, response) {
                    //apparently, reports success on 301 ?!?!
                    console.log("DELETE success:", model, response);
                }
            });
        }
    });
    
    //TODO why global?
    var iList = (new List()).add(data);
    
    var AppView = Backbone.View.extend({

        el: $('#tableCell'),
        events: {
            'click button#refresh': "refreshList",
            'click button#add': "newItem",
            'click button#sortByName': "sortByName",
            'click button#sortById': "sortById",
        },
        initialize: function() {
            _.bindAll(this, 'render', 'addItem', 'appendItem', 'sortByName', 'renderList', 'sortById', 'newItem', 'refreshList');
            this.collection = iList.bind('add', this.appendItem);
            this.sortOrder = -1;
            this.render();
            this.collection = iList.bind('reset', this.renderList);
            this.collection.fetch(); //fires 'reset'
            //this.collection.fetch({add: true}); //otherwise list will 'reset'
            //this.collection.fetch({add: true, data: {offset: 50}}); //otherwise list will 'reset'
            //this.collection.sort(); //should fire 'reset'
            
        },
        render: function() {
            $(this.el).append(_.template(inputMenu, {})).append(_.template(sortMenu, {})).append("<ul></ul>");
            this.renderList();
        },
        renderList: function() {
            $('ul', this.el).empty();
            // _.each?
            for (var i = 0; i < this.collection.models.length; i++) {
                this.appendItem(this.collection.models[i]);
            }
        },
        addItem: function() {
            this.collection.add(new Item({'name': "new bus stop"}));
        },
        appendItem: function(item) {
            var itemView = new ItemView({
                model: item
            });
            $('ul', this.el).append(itemView.render().el);
        },
        sortByName: function() {
            this.sortOrder = -this.sortOrder;
            this.collection.comparator = buildNameComparator(this.sortOrder);
            this.collection.sort();
        },
        sortById: function() {
            this.sortOrder = -this.sortOrder;
            this.collection.comparator = buildIdComparator(this.sortOrder);
            this.collection.sort();
        },
        newItem: function() {
            var newName = $('#newName', this.el).val();
            var newLat = $('#newLat', this.el).val();
            var newLong = $('#newLong', this.el).val();
            if (newName && newLat && newLong) {
                //TODO not empty?
                var newItem = new Item({'name': newName, 'latitude': newLat, 'longitude': newLong});
                newItem.save({}, {success: buildSuccessReponse(this.collection)});
                //TODO cache?
                $('#newName', this.el).val("");
                $('#newLat', this.el).val("");
                $('#newLong', this.el).val("");
            }
        },
        refreshList: function() {
            this.collection.fetch(); //fires 'reset'
        }
    });
    
    function buildIdComparator(sortOrder) {
        return function(country) {
            return sortOrder * country.get('id');
        }
    }
    function buildNameComparator(sortOrder) {
        return function(item) {
            return _.map(item.get("name").toLowerCase().split(""), function(letter) { 
                return String.fromCharCode(sortOrder * (letter.charCodeAt(0)));
            });;
        }
    }
    function buildSuccessReponse(collection) {
        return function(model, response) {
            collection.add(model);
            collection.sort();
        }
    }
    var app = new AppView();
});
    </script>
{% endblock %}

{% block content %}
<p><a href="{% url 'staff_home' %}">&lt&lt&lt Return to Staff Homepage</a></p>
<h4>Add a venue:</h4>
<div id="tableCell"></div>
<div id="overlay" style="display:none">
    <div id="overlayPrompt">
        <span id="overlayQuestion"></span>
        <div id="overlayButtons">
            <button id="overlayYes" >Yes</button>
            <button id="overlayNo" >No</button>
        </div>
    </div>
</div>
{% endblock %}
